# This file contains senstivite data like passwords and tokens
env.sh

# OpenTofu
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Ansible
.ansible/
Ansible/files/
Ansible/inventory/generated.ini
