#!/bin/bash

export PROXMOX_VE_ENDPOINT="https://192.168.100.11:8006/"
export PROXMOX_VE_API_TOKEN="root@pam!tf=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
export PROXMOX_VE_INSECURE="true"

export TF_VAR_nodes='["node01", "node02", "node03"]'
export TF_VAR_ssh_keys='["ssh-rsa AAAA... your-key-here you@host"]'
