---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ ceph_rbd_csi_secret_name }}"
  namespace: "{{ rke2_csi_namespace }}"
stringData:
  userID: "{{ ceph_rbd_csi_user }}"
  userKey: "{{ ceph_rbd_csi_key }}"
