tls-san:
  - {{ internal_gw }}
{% for host in groups['rke2_masters'] %}
  - {{ hostvars[host].ansible_host }}
{% endfor %}
{% if rke2_extra_sans is defined %}
{%   for san in rke2_extra_sans %}
  - {{ san }}
{%   endfor %}
{% endif %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
disable:
  - rke2-snapshot-controller
  - rke2-snapshot-controller-crd
  - rke2-snapshot-validation-webhook
ingress-controller:
  - traefik
